<script src="/socket.io/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

<script>
  var socket = io();
  socket.emit('chat send', { username: "nataneb", body: "test" })
  socket.on('chat message', (msg) => {
    $('#messages').append($('<div>').text(msg.username + ": " + msg.body));
  })

  $(document).ready(() => {
    $('#send_btn').click(() => {
      socket.emit('chat send', {
        username: $('#username_input').val(),
        body: $('#send_input').val()

      })
      scroll()
    })
  })



  function scroll() {
    var element = document.getElementById("messages");
    element.scrollTop = element.scrollHeight - element.clientHeight;
  }



</script>


<div class="app">
  <div class="appbar">
    <p>Room Name</p>
  </div>






  <div class="roomsbar">
  </div>
  <div class="hiddenscroll">
    <div id="messages" class="msg_container">
    </div>
  </div>


  <div class="usersbar">

  </div>


  <center>


    <div class="bar">
      <input id="username_input" type="text" class="msg_input" placeholder="Username" />
      <input id="send_input" type="text" class="msg_input" placeholder="Message" />
      <button id="send_btn">Send</button>
    </div>
  </center>




</div>
